{% extends 'main.html' %}
{% block content %}
    <div>
        <form action="" method="POST" class="my-form">
            {{form.hidden_tag()}}

            <div class="form-group">                
                {{form.testo.label()}}
                {% if form.testo.errors %}
                    {{form.testo}} 
                <div class="span-error">
                    {% for error in form.testo.errors %}
                        {{error}}
                    {% endfor %}
                </div>

            {% else %}
                {{form.testo}} 
            {% endif%}
            <div class="form-group">
                
                {{form.griglia.label()}}
                {% if form.griglia.errors %}
                    {{form.griglia}} 
                <div class="span-error">
                    {% for error in form.griglia.errors %}
                        {{error}}
                    {% endfor %}
                </div>
            
            {% else %}
            {{form.griglia}} 

            {% endif%}
            
            <div class="form-group">                
                {{form.argomento.label()}}
                {% if form.argomento.errors %}
                    {{form.argomento}} 
                <div class="span-error">
                    {% for error in form.argomento.errors %}
                        {{error}}
                    {% endfor %}
                </div>

            {% else %}
                {{form.argomento}} 
            {% endif%}
            <div class="form-group">                
                {{form.materia.label()}}
                {% if form.materia.errors %}
                    {{form.materia}} 
                <div class="span-error">
                    {% for error in form.materia.errors %}
                        {{error}}
                    {% endfor %}
                </div>

            {% else %}
                {{form.materia}} 
            {% endif%}

            <div class="form-group">                
                {{form.testo_pdf.label()}}
                {% if form.testo_pdf.errors %}
                    {{form.testo_pdf}} 
                <div class="span-error">
                    {% for error in form.testo_pdf.errors %}
                        {{error}}
                    {% endfor %}
                </div>

            {% else %}
                {{form.testo_pdf}} 
            {% endif%}

            <div>
                {{form.submit(class='button')}}
            </div>
        </form>
         
    </div>
    {% endblock content %}
